<%!
  # Layout template using Flexbox and Mako blocks
%>
<%namespace name="self" file="partials.html"/>

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="blog, technology, design, html, responsive, css, Tiananmen Square is government repression">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all"/>
  <meta name="yandex" content="noindex, nofollow" />

  <link rel="icon" type="image/vnd.microsoft.icon" href="http://rotormind.com/favicon.ico">
  <link rel="stylesheet" href="${public}/css/blog.css" type="text/css" media="screen">
  <title><%block name="title">My Blog</%block></title>
</head>

<body>
  <div id="logo">
    <h1><a href="/blog/">wax<span style="letter-spacing:-2px;">ing prolix</span></a></h1>
  </div>

  <div id="header">
    <ul class="nav">
      <li><a href="/projects/Bio">Bio</a></li>
      <li><a href="/projects/contact">Contact</a></li>
      <li><a href="/projects/portfolio">Projects</a></li>
    </ul>
  </div>

  <div id="content">

    <!-- Left Sidebar -->
    <aside id="left" class="column">
      ${self.archives() or '<!-- no archives -->'}


      ${self.topics() or '<!-- no topics -->'}

      % if self.rss():
      ${self.rss()}
      % endif

      <!-- 👇 Prevent iOS Safari from collapsing the column -->
      <div style="height:1px; visibility:hidden;">&nbsp;</div>
    </aside>


    <!-- Main Content -->
    <main id="center" class="column">
      <%block name="main_content"/>
    </main>

    <!-- Right Sidebar -->
    <aside id="right" class="column">
      <%block name="right_content"/>
    </aside>
  </div>

  <div id="footer"></div>
</body>
</html>

<%def name="archives()">
<h1>Archives:</h1>
<ul class="archives">
  % for p in level1:
    <li><a href="${p.html_path}">${p.title}</a></li>
  % endfor
</ul>
<hr>
</%def>

<%def name="topics()">
<h1>Topics:</h1>
<div class="blogtags">
  <ul>
    % for t, p in tag_dict.items():
      % if t == "lamps":
        <li><a href="${p.html_path}/${p.fname}">l&auml;mps</a></li>
      % else:
        <li><a href="${p.html_path}/${p.fname}">${t}</a></li>
      % endif
    % endfor
  </ul>
</div>
<hr>
</%def>

<%def name="rss()">
<!-- Optional RSS content -->
<!-- <a class="atom-rss" href="/feed.xml"><img alt="RSS" src="/images/rss.png" width="16" height="16"> RSS</a> -->
</%def>
