<%inherit file="partials.html"/>

<%block name="main_content">
  <h2>The Whole Blog</h2>

  <ul>
    % for i, c in enumerate(children[::-1]):
    <li>
      <p><a href="${c.html_path}">${c.title}</a></p>
      <ul>
        % for j, c2 in enumerate(c.children):
        <li>${c2.ldict['date']}&nbsp;<a href="${c2.html_path}">${c2.title}</a></li>
        % endfor
      </ul>
    </li>
    % endfor
  </ul>
</%block>

<%block name="right_content">
  <!-- Optional sidebar items -->
  <p>Recent posts, blogroll, or widgets here.</p>
</%block>
